In [1]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Import csv files
movies = pd.read_csv('IMDb_movies.csv')
actors = pd.read_csv('IMDb_names.csv')
ratings = pd.read_csv('IMDb_ratings.csv')
title_principals = pd.read_csv('IMDb_title_principals.csv')

In [2]:
movies = pd.DataFrame(movies)
actors = pd.DataFrame(actors)
ratings = pd.DataFrame(ratings)
title_principals = pd.DataFrame(title_principals)

In [3]:
movies.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [4]:
title_principals.columns

Index(['imdb_title_id', 'ordering', 'imdb_name_id', 'category', 'job',
       'characters'],
      dtype='object')

In [5]:
movies = pd.merge(movies,title_principals[['imdb_title_id', 'ordering', 'imdb_name_id', 'category', 'job',
       'characters']],on='imdb_title_id',how='left')
movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,ordering,imdb_name_id,category,job,characters
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,1.0,nm0846887,actress,NaN,"[""Kate Kelly""]"
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,2.0,nm0846894,actor,NaN,"[""School Master""]"
2,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,3.0,nm3002376,actor,NaN,"[""Steve Hart""]"
3,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,4.0,nm0170118,actress,NaN,NaN
4,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,5.0,nm0846879,director,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420307,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,NaN,NaN,NaN,21.0,NaN,9.0,nm9492020,editor,NaN,NaN
420308,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,NaN,$ 4791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420309,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420310,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420311,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,$ 2833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
movies.columns

Index(['imdb_title_id', 'title', 'year', 'date_published', 'genre', 'country',
       'language', 'director', 'writer', 'production_company', 'actors',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'ordering', 'imdb_name_id',
       'category', 'job', 'characters'],
      dtype='object')

In [16]:
ratings.columns

Index(['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6',
       'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [20]:
movies = pd.merge(movies,ratings[['imdb_title_id', 'weighted_average_vote']],on='imdb_title_id',how='left')
movies

Empty DataFrame
Columns: [title, year, date_published, genre, country, language, director, writer, production_company, actors, avg_vote, votes, budget, usa_gross_income, worlwide_gross_income, metascore, ordering, imdb_name_id, category, job, characters, weighted_average_vote_x, imdb_title_id, weighted_average_vote_y]
Index: []

[0 rows x 24 columns]

In [18]:
movies.columns

Index(['title', 'year', 'date_published', 'genre', 'country', 'language',
       'director', 'writer', 'production_company', 'actors', 'avg_vote',
       'votes', 'budget', 'usa_gross_income', 'worlwide_gross_income',
       'metascore', 'ordering', 'imdb_name_id', 'category', 'job',
       'characters', 'imdb_title_id', 'weighted_average_vote'],
      dtype='object')

In [30]:
# Display preview of new columns
movies[['imdb_title_id','title','ordering','budget','usa_gross_income','worlwide_gross_income','avg_vote']]

Empty DataFrame
Columns: [imdb_title_id, title, ordering, budget, usa_gross_income, worlwide_gross_income, avg_vote]
Index: []

In [31]:
# DEPENDENCIES --------------------------------------------------------------
from scipy.stats import linregress

# CALCULATE VARIABLES--------------------------------------------------------
review_data_by_title = review_data.set_index(['title'])
ave_vote = review_data_by_title['avg_vote']
metascore = review_data_by_title['ordering']

# PLOT GRAPH-----------------------------------------------------------------
x_values = ave_vote
y_values = ordering
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,0),fontsize=12,color="red")
plt.title('Viewer Ratings vs. Production')
plt.xlabel('Av Vote')
plt.ylabel('Production size')
print(f"The r-squared is: {rvalue}")
plt.show()

NameError: name 'review_data' is not defined